@import "tailwindcss";

body {
  background: #0a0f1e;
  color: white;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 5px;
}
